header {
	display: flex;
	align-items: center;

	padding: 0 40px;

	height: 10%;
	background-color: #5a34b485;

	.header-block {
		width: 100%;

		display: flex;
		align-items: center;

		.title {
			width: 30%;

			.router-link {
				color: #713ee7;
				font-size: 24px;
				font-weight: 600;
			}

			.router-link:hover {
				color: rgba(113, 62, 231, 0.75);
			}
		}

		.nav-elements {
			width: 70%;

			display: flex;
			align-items: center;

			& .element > .router-link:last-child, & .element > .item:last-child {
				margin-right: 0;
			}

			& .element > .item:last-child {
				margin-left: 20px;
			}

			& .element > .router-link {
				padding: 8px;
				border: 1px solid #713ee7;
				border-radius: 4px;
				margin-right: 20px;
				color: #ffffff;
				font-size: 18px;
				font-weight: 500;
				text-decoration: none;
			}

			& .element > .router-link:hover {
				background-color: #ffffff;
				color: #713ee7;
			}
		}
	}
}