.default-template {
	width: 100%;
	height: 90%;

	display: flex;
	flex-direction: column;

	.title {
		display: flex;
		align-items: center;
		justify-content: center;
		h3 {
			color: #512c93;
			font-size: 24px;
			font-weight: 500;
		}
	}

	.body {
		.row-span {
			width: 100%;
			padding: 20px;

			display: flex;
			flex-display: row;
			align-items: center;

			h1 {
				font-size: 40px;
				margin-right: 40px;
			}
			h3 {
				font-size: 32px;
				font-weight: 400;
			}
			span, .router-link {
				width: 100%;
				font-size: 32px;
				font-weight: 500;
			}
		}
	}
}