.body {
	width: 100%;
	height: 100%;

	.carousel {
		width: 100%;
		height: 100%;

		opacity: 96%;
	}

	.info-home {
		position: absolute;
		z-index: 1;
		color: #FFF;
		padding: 5% 10%;

		h1 {
			font-size: 48px;
			color: #FFFFFF;
			font-weight: 700;
		}
		h2 {
			font-size: 40px;
			color: #FFFFFF;
			font-weight: 500;
		}
	}
}